<mat-card class="mat-elevation-z6">
    <h2>Order History</h2>
    <div *ngFor="let item of historyItems" class="row confirm-item">
        <div class="col-md-4">
            <img src="{{item.url}}" />
        </div>
        <div class="col-md-8">
            <h2>{{item.name}}</h2>
            <div>Quantity: <span>{{item.quantity}}</span></div>
            <div class="crncy-order">{{item.price | currency:"INR":"symbol"}}</div>
            <div>
                <div class="addr-label">Delivery address:</div>
                <div>{{item.address}}</div>
            </div>
        </div>
        <div class="col-md-12 margin-top10">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Order status
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <mat-vertical-stepper [linear]="true" [selectedIndex]="item.orderStatus | orderStatus" [disableRipple]="true">
                        <mat-step [completed]="item.orderStatus==='shipping' || item.orderStatus==='delivered'" [editable]="false">
                            <ng-template matStepLabel>Payment status</ng-template>
                            {{item.orderComments}}
                        </mat-step>
                        <mat-step [completed]="item.orderStatus==='delivered'" [editable]="false">
                            <ng-template matStepLabel>Shipping</ng-template>
                            {{item.orderComments}}
                        </mat-step>
                        <mat-step [completed]="item.orderStatus==='delivered'" [editable]="false">
                            <ng-template matStepLabel>Delivered</ng-template>
                            {{item.orderComments}}
                        </mat-step>
                    </mat-vertical-stepper>
                </mat-panel-description>
            </mat-expansion-panel>
        </div>
    </div>
    <div *ngIf="!historyItems || historyItems?.length===0">
        No purchase history
    </div>
    <!-- <mat-accordian> -->
        
    <!-- </mat-accordian> -->
</mat-card>