<div class="cart-body">
    <div class="row">
        <div class="col-md-8 margin-bottom10">
            <div class="cart-content">
                <h1>My Cart</h1>
                <mat-card *ngFor="let item of cartItems" class="cart-item mat-elevation-z6">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="cart-img" src="{{item.url}}" />
                        </div>
                        <div class="col-md-8">
                            <h3>{{item.name}}</h3>
                            <div class="cart-crncy">{{item.price | currency:"INR":"symbol"}}</div>
                            <div class="margin-top10">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <mat-select [(ngModel)]="item.selectedQuantity" (selectionChange)="updateCart()">
                                        <mat-option *ngFor="let count of item.maxQuantity | quantArray" [value]="count">
                                            {{count}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" (click)="removeItem(item.id)">Remove
                                    item</button>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <p *ngIf="cartItems?.length === 0">No Items added</p>
            </div>
        </div>
        <div class="col-md-4 margin-bottom10">
            <h1>Price Details</h1>
            <mat-card class="mat-elevation-z6">
                <div>Price ({{cartItems.length}} items): <span class="cart-crncy">{{itemsPrice | currency:"INR":"symbol"}}</span></div>
                <div>Delivery charges: <span class="cart-crncy">{{deliveryCharges | currency:"INR":"symbol"}}</span></div>
                <hr />
                <div>Total Price: <span class="cart-crncy">{{totalPrice | currency:"INR":"symbol"}}</span></div>
            </mat-card>
        </div>
        <div class="col-md-12 margin-bottom10">
            <div *ngIf="cartItems?.length !== 0">
                <button mat-raised-button color="primary" (click)="placeOrder()">Place order</button>
            </div>
        </div>
    </div>